@charset "UTF-8";
/* UCL Colours
-------------------------------------------------------------- */
/* Standard
-------------------------------------------------------------- */
/* Colour Variant - for gradients
-------------------------------------------------------------- */
/* Gradient styles
-------------------------------------------------------------- */
/* Search */
.results-listed {
  color: #131313;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
  clear: both;
}

@media (min-width: 768px) {
  .results-listed {
    clear: none;
    margin-left: 10px;
  }
}
@media (min-width: 800px) {
  .results-listed {
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .results-listed {
    margin-top: 25px;
  }
}
.total-matching {
  font-weight: bold;
}

#fb-results {
  clear: both;
}
@media (min-width: 768px) {
  #fb-results {
    padding: 0 40px;
  }
}

#results-sort-by {
  position: absolute;
  right: 0;
  margin: 10px 0 0;
}
@media (min-width: 768px) {
  #results-sort-by {
    float: right;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 10px 40px 20px 0;
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  #results-sort-by {
    margin-top: 20px;
  }
}

.facets {
  background-color: #d6d2c4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  top: -33px;
}
.facets h2 {
  font-size: 20px;
  font-size: 2rem;
  padding-bottom: 40px;
}

.results-page {
  float: left;
}

.facets {
  padding: 20px 10px 0;
  left: -280px;
  position: absolute;
  top: 0;
  width: 280px;
}
@media (min-width: 768px) {
  .facets {
    padding: 20px 20px 0;
  }
}

.module--facets {
  background-color: #d6d1c5;
}
.module--facets h2 {
  float: left;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 20px 0;
  padding: 0;
}
.module--facets .close {
  color: #FFF;
  line-height: 1;
  margin: 0;
  text-decoration: none;
  vertical-align: bottom;
  background: none repeat scroll 0% 0% #131313;
  padding: 7px 9px;
  border-radius: 50%;
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 12px;
}

.facet > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.facet {
  background-color: #F3F3F3;
  clear: both;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}
.facet h4 {
  background-color: #fff;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  float: left;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  margin: 0 0 10px 0;
  padding: 10px;
  position: relative;
  transition: border-radius .2s ease-in-out;
  width: 100%;
}
.facet h4:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 13px;
  transition: all .2s ease-in-out;
  border-style: solid;
  border-width: 10px 6px 0;
  border-color: #d6d1c5 transparent transparent transparent;
}

.facet-list {
  background-color: #f3f3f3;
  height: auto;
  list-style: none;
  margin: 10px 0 0;
  padding: 10px;
  transition: all 1s ease-in-out;
}

.facet-list__item {
  margin-bottom: 10px;
}
.facet-list__item input {
  line-height: 1;
  margin-right: 10px;
}
.facet-list__item label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.did-you-mean {
  color: #d50032;
}
.did-you-mean a {
  color: #d50032;
}
@media (max-width: 767px) {
  .did-you-mean {
    float: left;
    clear: both;
    width: 100%;
  }
}

h3 a {
  text-decoration: none;
}
h3 a:hover {
  text-decoration: underline;
}

.fb-page-nav {
  padding-top: 20px;
}

p cite {
  font-weight: normal !important;
}

.top {
  background-color: #444444;
  width: 100%;
  height: 46px;
  position: absolute;
  z-index: 5050;
}

.facet-list__item span {
  margin-left: 5px;
  color: #000;
  font-size: 14px;
  font-size: 1.4rem;
}
.facet-list__item em {
  font-size: 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}

.search-results {
  clear: both;
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
  width: 100%;
}

h2 {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .facets {
    left: -315px;
    width: 315px;
  }
}
@media (min-width: 850px) {
  .facets {
    left: -355px;
    width: 355px;
  }
}
@media (min-width: 1024px) {
  .search-results {
    float: right;
    width: 68.7%;
  }

  .search-meta {
    float: left;
    width: 100%;
  }

  .facets {
    position: relative;
    float: left;
    left: 0;
    width: 31.3%;
    top: -34px;
    border-radius: 4px;
  }

  aside {
    float: left;
    left: 0;
    position: relative;
  }
}
.result__item {
  clear: both;
  list-style: none;
  margin: 0 0 20px;
  padding: 0 0 4px;
}
.result__item .result__title {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.1;
  margin: 0 0 5px 0;
}
.result__item .result__title a {
  color: #131313;
}
.result__item .result__summary {
  color: #131313;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3;
  margin-bottom: 5px;
}
.result__item .result__summary a {
  color: #4693ea;
}
.result__item .result__summary a:hover {
  color: #c;
}
.result__item .result__link {
  color: #4693ea;
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .result__item .result__title {
    font-size: 20px;
    font-size: 2rem;
  }
  .result__item .result__link {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.result__item--other {
  background-color: none !important;
  border-bottom: 1px solid #dddddd;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.result__item--other .result__title {
  width: 95%;
  padding-right: 5%;
  position: relative;
}
.result__item--other .result__title:before {
  background-image: url("../images/search-sprite.png");
  content: '';
  height: 20px;
  position: absolute;
  right: 0;
  width: 20px;
}
.result__item--other .result__summary {
  font-size: 14px;
  font-size: 1.4rem;
}
.result__item--other .result__details {
  width: 100%;
}

.result__thumbnail {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0 0 12px;
  padding-bottom: 56.25%;
  width: 100%;
}

.result__details {
  float: right;
  margin-bottom: 10px;
  width: 72.5%;
}
@media (min-width: 650px) {
  .result__details {
    width: 72.5%;
  }
}

.result__item--soundcloud .result__thumbnail a:before {
  display: none;
}

.sc-audio {
  float: left;
  width: 100%;
}
.sc-audio .play-audio {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 93px;
  height: 60px;
  position: absolute;
  right: 0px;
  bottom: 70px;
}
.sc-audio .play-audio:before {
  background-image: url("../images/search-sprite.png");
  background-position: 0 -460px;
  content: '';
  position: absolute;
  left: 35px;
  top: 14px;
  width: 27px;
  height: 32px;
  z-index: 5050;
  background-repeat: no-repeat;
}
.sc-audio .play-audio:hover {
  background-color: black;
}
@media (min-width: 480px) {
  .sc-audio .play-audio {
    bottom: -20%;
    float: left;
    position: relative;
  }
}
.sc-audio__soundwave {
  float: left;
  position: relative;
}
@media (min-width: 420px) {
  .sc-audio__soundwave {
    margin-left: 2%;
    width: 75%;
  }
}
@media (min-width: 650px) {
  .sc-audio__soundwave {
    margin-left: 4%;
    width: 79%;
  }
}

.results__meta {
  clear: both;
  margin-top: 20px;
  width: 100%;
}
.results__meta span {
  clear: both;
  float: left;
  font-weight: bold;
  width: 100%;
}

@media (max-width: 470px) {
  display: block;
}
.no-facets .collections__list {
  width: 100%;
  margin: 0 auto;
  height: 34px;
  float: none;
}
.no-facets .search-results {
  float: none;
  width: 100%;
  margin: 0 auto;
}
.no-facets .off-canvas {
  display: none !important;
}
@media (max-width: 700px) {
  .no-facets .results-listed {
    margin-top: 45px;
  }
}
@media (min-width: 1050px) {
  .no-facets .collections__list {
    max-width: 60%;
  }
}

.result__item--research {
  float: left;
  margin-bottom: 20px;
}
.result__item--research .result__summary {
  margin-bottom: 10px;
}
.result__item--research .result__meta {
  float: left;
  position: relative;
}
.result__item--research .result__meta:before {
  background-image: url(../images/search-sprite.png);
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  right: -24px;
  width: 15px;
}
.result__item--research .result__meta a {
  color: #4693ea;
}

.result__item--discovery-and-open-access .result__meta:before {
  background-position: -2px -217px;
  height: 22px;
}

.result__item--open-access .result__meta:before {
  background-position: 0 -549px;
  height: 22px;
}

.result__item--discovery-only .result__meta:before {
  background-position: -2px -259px;
  height: 23px;
}

.results__meta {
  margin-top: 0;
}
.results__meta a {
  color: #ac145a;
}
@media (max-width: 479px) {
  .results__meta {
    float: left;
    clear: both;
  }
  .results__meta p {
    display: block;
    float: left;
    overflow: hidden;
    width: 48%;
    margin-right: 2%;
  }
  .results__meta .results__meta--length {
    margin-left: 0;
    padding-left: 24px;
    box-sizing: border-box;
  }
  .results__meta .results__meta--length:before {
    left: 0;
  }
}
.results__meta a {
  color: #4693ea !important;
  text-decoration: none;
}
.results__meta--category {
  color: #ac145a;
  font-size: 14px;
  display: inline;
}
.results__meta--date {
  color: #ac145a;
  font-size: 14px;
  display: inline;
}
.results__meta--date span {
  clear: none !important;
  float: none !important;
  display: inline;
  font-weight: normal !important;
}
.results__meta--views {
  color: #ac145a;
  font-size: 14px;
  display: inline;
}
.results__meta--views span {
  clear: none !important;
  float: none !important;
  display: inline;
  font-weight: normal !important;
}
@media (min-width: 479px) {
  .results__meta--category, .results__meta--date, .results__meta--views {
    margin-right: 10px;
    position: relative;
  }
  .results__meta--category:before, .results__meta--date:before, .results__meta--views:before {
    color: #777777;
    content: '|';
    font-size: 18px;
    position: absolute;
    right: -10px;
    top: -6px;
  }
  .results__meta--category:last-child:before, .results__meta--date:last-child:before, .results__meta--views:last-child:before {
    display: none !important;
  }
}

.results__meta--length {
  color: #777777;
  display: inline;
  font-size: 14px;
  margin-left: 24px;
  position: relative;
}
.results__meta--length:before {
  background-image: url("../images/search-sprite.png");
  background-position: 0 -418px;
  background-repeat: no-repeat;
  content: '';
  height: 26px;
  position: absolute;
  left: -26px;
  top: -2px;
  width: 26px;
}

@media (max-width: 479px) {
  .result__item--iTunes--audio .results__meta p,
  .result__item--iTunes--video .results__meta p {
    width: 100% !important;
  }
}

.result__item--video .result__title:before {
  background-position: 0 -301px;
  width: 18px;
}
.result__item--video .result__thumbnail {
  margin: 0 0 12px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 0;
  width: 100%;
  min-width: 200px;
}
.result__item--video .result__thumbnail a {
  display: block;
  position: relative;
  width: 100%;
}
.result__item--video .result__thumbnail a:before {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/search-sprite.png");
  background-position: 38px -446px;
  content: '';
  position: absolute;
  width: 94px;
  left: 50%;
  margin-left: -47px;
  top: 50%;
  border-radius: 8px;
  margin-top: -34px;
  height: 60px;
  z-index: 5050;
  background-repeat: no-repeat;
}
.result__item--video .result__thumbnail a:hover:before {
  background-color: black;
}
@media (min-width: 700px) {
  .result__item--video .result__thumbnail {
    width: 32.5%;
    height: auto;
  }
  .result__item--video .result__thumbnail a {
    display: block;
    height: auto;
  }
  .result__item--video .result__thumbnail img {
    position: relative;
    top: 0;
    margin-top: auto;
  }
  .result__item--video .result__details {
    width: 65%;
  }
}

/* .result__item--iTunes--video,
.result__item--iTunes--audio {
  @media (min-width: 700px) {
    img {
      max-width: 100px;
    }
  }
} */
.result__item--audio .result__title:before {
  background-position: 0 -341px;
  width: 20px;
}
.result__item--audio .result__thumbnail {
  padding-bottom: 0;
}
.result__item--audio .result__thumbnail a {
  display: block;
  position: relative;
  width: 100%;
}
.result__item--audio .result__thumbnail a:before {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/search-sprite.png");
  background-position: 38px -446px;
  content: '';
  position: absolute;
  width: 94px;
  left: 50%;
  margin-left: -47px;
  top: 50%;
  border-radius: 8px;
  margin-top: -34px;
  height: 60px;
  z-index: 5050;
  background-repeat: no-repeat;
}
.result__item--audio .result__thumbnail a:hover:before {
  background-color: black;
}
.result__item--audio .result__thumbnail img {
  max-width: 100px;
}
.result__item--audio .result__thumbnail {
  width: 16.5%;
  height: auto;
}
.result__item--audio .result__thumbnail a {
  display: block;
  height: auto;
}
.result__item--audio .result__thumbnail img {
  position: relative;
  top: 0;
  margin-top: auto;
  max-width: 100px;
}
.result__item--audio .result__details {
  width: 83%;
}

.result__item--iTunes--audio .result__thumbnail a:before {
  display: none;
}

.result__item--soundcloud .result__thumbnail {
  width: 18.5%;
}
.result__item--soundcloud .result__details {
  width: 80%;
}
@media (max-width: 479px) {
  .result__item--soundcloud .result__thumbnail {
    width: 100%;
  }
  .result__item--soundcloud .result__thumbnail a:before {
    left: 84%;
  }
  .result__item--soundcloud .result__thumbnail img {
    max-width: 120px;
  }
  .result__item--soundcloud .result__details {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .result__item--soundcloud .result__thumbnail {
    width: 11.5%;
  }
  .result__item--soundcloud .result__details {
    width: 86%;
  }
}

.result__item--blogpost .result__title {
  margin-bottom: 3px;
}
.result__item--blogpost .result__title:before {
  display: none;
}

.result__domain {
  color: #4693ea;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 10px;
}

#modal-video {
  display: none;
}

.show-modal {
  width: 90% !important;
  left: 5%;
  display: block !important;
  min-height: 600px;
  margin-top: 5%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 999999999;
}

.modal-close {
  background-color: #000;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.modal-close:hover {
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
}

.is-active:before {
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-position: 32px -492px !important;
}
.is-active:before:hover {
  background-color: #000;
}

.v-yt .result__thumbnail {
  position: relative;
}

.v-yt .result__thumbnail:before {
  content: "";
  display: block;
  margin-top: 75%;
}

.v-yt .result__thumbnail iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.v-yt .result__thumbnail a {
  position: absolute;
  top: 0;
  left: 0;
}

.sc-player-box {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAYAAADtlXTHAAAAN0lEQVR42mMQFRW/x2RiYqLI9O3bNwam////MzAxAAESARQCsf6jcmFiOLkIoxAGEGIBmSAHAQBWYyX2FoQvwgAAAABJRU5ErkJggg==) 50% 50%/1px 30px repeat-x;
  background-repeat: repeat-x;
  width: auto;
  height: 18px;
  height: 17px;
  padding: 6px 9px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  color: white;
}

.sc-play-icon {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid white;
  border-bottom: 7px solid transparent;
  display: inline-block;
  margin: 2px 4px 3px 0px;
  vertical-align: top;
}

.sc-play-icon.pause {
  border-left: 4px solid white;
  border-right: 4px solid white;
  width: 3px;
  height: 14px;
  border-top: 0px;
  border-bottom: 0px;
}

.sc-player-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
}

img.sc {
  float: right;
  vertical-align: top;
  height: 18px;
  width: auto;
}

.sc-audio-control {
  cursor: pointer;
}

.result__item--best-bet {
  border: 4px solid #1667c3;
  border-left: none;
  border-right: none;
  background-color: #4693ea;
  clear: both;
  margin: 0 0 30px;
  padding: 10px 20px;
}
.result__item--best-bet .result__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-size: 2rem;
}
.result__item--best-bet .result__title a {
  color: #fff;
}
.result__item--best-bet .result__text {
  font-size: 16px;
  color: #fff;
}
.result__item--best-bet .result__link {
  color: #fff;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: normal;
}
@media (min-width: 768px) {
  .result__item--best-bet {
    margin: 0 40px 30px 40px;
    padding: 10px 40px;
  }
}

/*
    .collections

    <ul class="collections">
      <li class="collections__item collections__item--button">
        <a href=""></a>
      </li>
      <li class="collections__item">
        <a href="">Web<span>(5000)</span></a>
      </li>
      <li class="collections__item">
        <a href="">People<span>(300)</span></a>
      </li>
      <li class="collections__item">
        <a href="">Research<span>(1224)</span></a>
      </li>
      <li class="collections__item collections__item--is-selected">
        <a href="">Courses<span>(44)</span></a>
      </li>
      <li class="collections__item">
        <a href="">Other<span>(4)</span></a>
      </li>
    </ul>

 */
.collection {
  position: relative;
}

.collections__list {
  border-radius: 4px;
  border-width: 1px 1px 4px;
  border-style: solid;
  border-color: #c5c0ac;
  height: 36px;
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .collections__list:before {
    background-repeat: no-repeat;
    border-radius: 0;
    content: '';
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: transform 110ms ease-in-out;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 8px 0 8px;
    border-color: white transparent transparent;
  }
}

@media (max-width: 719px) {
  .spinner:before {
    transition: transform 110ms ease-in-out;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.show-list {
  height: auto;
  z-index: 1984;
}
.show-list .collections__item {
  border-top: 1px solid #d6d2c4;
}
.show-list .collections__item--button {
  border-top: none;
}

.list__item {
  background-color: #ebe9e2;
  list-style: none;
  line-height: 30px;
  padding: 0 10px;
  transition: background-color .16s linear;
}
.list__item a {
  line-height: 36px;
  margin: 0;
  padding: 0;
  color: #131313;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
}
.list__item a span {
  margin-left: 5px;
}
.list__item:hover, .list__item:focus {
  background-color: #c1bba6;
}
@media (max-width: 767px) {
  .list__item:first-child {
    background-color: #d6d2c4;
    border-top: none;
    font-weight: bold;
  }
}

.collections-list__show-hide {
  border-top: none;
  left: 5px;
  height: 30px;
  top: 5px;
  position: absolute;
  z-index: 5050;
  background-color: transparent !important;
  width: 100%;
}
.collections-list__show-hide a {
  display: block;
  height: 30px;
  z-index: 5050;
}

@media (min-width: 768px) {
  .collections-list__show-hide {
    display: none !important;
  }

  .collections__list {
    border: none;
    height: auto;
    max-width: 100%;
    overflow: visible;
    padding: 0;
    border-bottom: 1px solid #d6d2c4;
    float: left;
    width: 100%;
  }

  .list__item {
    background-color: #ebe9e2;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    float: left;
    margin-left: 10px;
    padding: 2px 10px;
  }
  .list__item:first-child {
    margin-left: 0;
  }
  .list__item:hover {
    background-color: #dedbd0;
  }
  .list__item a {
    line-height: 30px;
  }

  .list__item--is-selected {
    background-color: #d6d2c4;
    padding: 0 10px 4px;
  }
  .list__item--is-selected:hover {
    background-color: #d6d2c4 !important;
  }
  .list__item--is-selected a {
    font-weight: bold;
    position: relative;
    top: 1px;
  }
}
@media (min-width: 1024px) {
  .collections__list {
    float: right;
    width: 65.7%;
  }

  .list__item {
    margin-left: 7px;
    padding: 2px 7px;
  }
}
@media (min-width: 1140px) {
  .list__item {
    padding: 2px 10px;
  }
}
.search-results__meta {
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
  width: 100%;
}

.search-box {
  width: 100%;
  clear: both;
  padding: 0 20px;
  position: relative;
  left: -20px;
  margin-bottom: 20px;
}
.search-box * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search-box input {
  border: 1px solid #aaa;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-size: 1.4rem;
  height: 36px;
  line-height: 36px;
  margin: 0;
  margin-right: 2%;
  padding: 0 0 0 10px;
  width: 75.9%;
}
.search-box button {
  padding: 8px 10px;
  top: -1px;
  transition: background .2s linear;
}
.search-box .search {
  width: 20%;
}
.search-box .search:hover {
  border-bottom-color: rgba(0, 0, 0, 0.21);
}

@media (min-width: 768px) {
  .search-box {
    border-bottom: none;
    margin: 0 auto 30px;
    max-width: 560px;
    padding: 0;
  }
  .search-box input {
    width: 75%;
  }

  .search {
    width: 80px;
  }
}
.pillboxes {
  float: left;
  margin-bottom: 10px;
  width: 100%;
}

.pillbox {
  background-color: #ebe9e2;
  border: 1px solid #aca488;
  border-radius: 4px;
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 0 20px 0 10px;
  transition: background-color .16s linear;
}
.pillbox:hover {
  background-color: #c1bba6;
}
.pillbox:hover > .pillbox__link span {
  color: #131313;
}

.pillbox__link {
  color: #131313;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 35px;
  position: relative;
  text-decoration: none;
  text-transform: none;
}
.pillbox__link span {
  color: #aaa;
  font-weight: bold;
  position: relative;
  right: -10px;
  top: 0;
}
.pillbox__link:hover {
  color: #131313;
  text-decoration: none;
}

.facet-list__link {
  clear: both;
  color: #4693ea;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: underline;
}

.view-all {
  float: right;
  color: #4693ea;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  margin-right: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.facet--close h4 {
  border-radius: 4px;
  transition: border-radius .1s ease-in-out;
}
.facet--close h4:after {
  transform: rotate(180deg);
  transition: transform .2s ease-in-out;
}
.facet--close .facet-list {
  display: none;
}

.facets input[type="button"] {
  background-color: #4693ea;
  padding: 6px 8px;
  font-weight: 400;
  margin-bottom: 20px;
}

.js .facets input[type="button"] {
  display: none !important;
}

.facets input[type="button"] {
  display: none !important;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  font-size: 16px;
}

.results-nav {
  clear: both;
  font-size: 16px;
  font-size: 1.6rem;
}

.results-nav__list {
  display: inline-block;
}
.results-nav__list > li {
  display: inline-block;
  background-color: #4c98e5;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 0;
  border-radius: 4px;
  padding: 5px 10px;
  text-decoration: none;
}
.results-nav__list > li a {
  color: #fff;
  display: block;
  transition: background .2s linear;
}
.results-nav__list > li:hover {
  background-color: #034DA1;
  transition: background .2s linear;
}
.results-nav__list > li:hover > a {
  text-decoration: none;
}
.results-nav__list .current {
  background-color: #034DA1;
  font-weight: bold;
}

.results-nav p {
  display: inline-block;
  line-height: 32px;
}
.results-nav .fb-current-result-page {
  display: inline-block;
}

@media (min-width: 768px) {
  .results-nav {
    text-align: center;
  }
  .results-nav > a {
    display: inline;
    margin-bottom: 0;
  }
}
.off-canvas {
  background: none repeat scroll 0% 0% #4693ea;
  padding: 6px 10px 6px 20px;
  position: relative;
  float: left;
  font-family: "Helvetica Neue";
  font-size: 12px;
  font-size: 1.2rem;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .off-canvas {
    margin-left: 40px;
  }
}
.off-canvas:before {
  border-color: transparent #ffffff transparent;
  border-style: solid;
  border-width: 4px 8px 4px 0;
  content: '';
  left: 5px;
  position: absolute;
  top: 10px;
  transition: transform .3s linear;
  width: 0;
}
.off-canvas:hover {
  background-color: #034DA1;
}
@media (min-width: 768px) and (max-width: 959px) {
  .off-canvas {
    margin-bottom: 20px;
  }
}

.spin:before {
  transform: rotate(180deg);
  transition: transform .3s linear;
}

.show-facet {
  display: block;
  left: 20px;
  transition: left .3s ease-in-out;
}
@media (min-width: 768px) {
  .show-facet {
    left: 0;
  }
}

.move {
  position: relative;
  left: 280px;
  transition: left .3s ease-in-out;
}

.close-me {
  left: 0;
}

@media (min-width: 1000px) {
  .move {
    left: 320px;
  }
}
@media (min-width: 980px) {
  .off-canvas,
  .close {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .move {
    left: 0;
  }
}
.result__item--degrees {
  margin-bottom: 25px;
}
.result__item--degrees th, .result__item--degrees td {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 19px;
}
.result__item--degrees .result__title span {
  color: #131313;
  margin-left: 10px;
}
.result__item--degrees .result__link {
  background-color: #ea7600;
  position: relative;
  display: block;
  margin-top: 14px;
  padding: 8px 20px 8px 0;
  transition: background-color .25s linear;
  width: 130px;
}
.result__item--degrees .result__link:hover {
  background-color: #ff8f1e;
  transition: background-color .25s linear;
}
.result__item--degrees .result__link:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent #ffffff;
  right: 13px;
  top: 13px;
}

.results__degrees--UG li {
  width: 23%;
  padding: 0 10px;
  margin-left: 1%;
}
.results__degrees--UG li:first-child {
  margin-left: 0;
  padding-left: 0;
  width: 31%;
}

.results__degrees--PGT li,
.results__degrees--PGD li {
  width: 24%;
  padding: 0 10px;
  margin-left: 1%;
}
.results__degrees--PGT li:first-child,
.results__degrees--PGD li:first-child {
  margin-left: 0;
  padding-left: 0;
  width: 31%;
}

.course-details {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.result__item--degrees .result__summary {
  clear: both;
}
.result__item--degrees .result__title {
  float: left;
  line-height: 1.2;
  margin-right: 20px;
}
.result__item--degrees .result__link {
  float: left;
  margin: 0;
}
@media (min-width: 600px) {
  .result__item--degrees .result__title {
    max-width: 70%;
    margin-right: 0;
  }
  .result__item--degrees .result__link {
    bottom: 12px;
    float: right;
  }
}
@media (min-width: 600px) {
  .result__item--degrees .result__title {
    max-width: 80%;
  }
}

.result__item--person {
  padding-bottom: 0;
}
.result__item--person .vcard {
  margin-bottom: 0;
}
.result__item--person .vcard li {
  margin-left: 16px;
}
.result__item--person .vcard li li {
  margin-left: 16px;
}
.result__item--person .org {
  clear: both;
  color: #4c98e5;
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.result__item--person .org p {
  color: #131313;
  margin-right: 4px;
  display: inline;
}
.result__item--person .org a {
  color: #4c98e5;
  display: inline;
  text-decoration: underline;
}
.result__item--person .fn {
  font-size: 15px;
  font-size: 1.5rem;
}
.result__item--person .position {
  font-size: 16px;
  font-size: 1.6rem;
}
.result__item--person .org {
  margin-bottom: 0.5em;
}
.result__item--person .email {
  clear: left;
  float: left;
  margin-left: 16px;
  padding-left: 30px;
  line-height: 24px;
  position: relative;
}
.result__item--person .email:before {
  content: '';
  position: absolute;
  left: -10px;
  width: 18px;
  height: 12px;
  top: 6px;
}
.result__item--person .email a {
  color: #4c98e5;
  font-size: 14px;
}
.result__item--person .iris {
  clear: both;
  font-weight: bold;
}
.result__item--person .iris a {
  color: #4693ea;
}
.result__item--person .tel a {
  color: #131313;
}
.result__item--person .tel a:hover {
  text-decoration: none;
}
.result__item--person .tel {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  margin-left: 16px;
  padding-left: 30px;
  position: relative;
}
.result__item--person .tel span {
  font-weight: bold;
}
.result__item--person .tel:before {
  content: '';
  position: absolute;
  left: -10px;
  width: 20px;
  height: 18px;
  top: 3px;
  background-position: 0 -31px;
}
.result__item--person .tel--external:before {
  background-position: 0 -67px;
}
.result__item--person .email a {
  font-weight: bold;
}

.sprite, .result__item--person .email:before, .result__item--person .tel:before, .twitter:before, .linkedin:before {
  background-image: url("../images/search-sprite.png");
  margin-left: 10px;
}

.twitter {
  position: relative;
  padding-left: 30px;
}
.twitter:before {
  content: '';
  position: absolute;
  left: -10px;
  width: 20px;
  height: 18px;
  top: 3px;
  background-position: 0 -143px;
}

.linkedin {
  position: relative;
  padding-left: 30px;
}
.linkedin:before {
  content: '';
  position: absolute;
  left: -10px;
  width: 20px;
  height: 18px;
  top: 3px;
  background-position: 0 -179px;
}

.secure-details li {
  max-width: 100%;
}
.secure-details a {
  color: #4c98e5;
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 26px;
}
.secure-details img {
  max-width: 120px;
}

@media (max-width: 479px) {
  .profile-details {
    float: left;
    width: 64%;
    margin-right: 1%;
  }

  .result__item--person .vcard li {
    margin-left: 0;
  }

  .secure-details {
    float: left;
    width: 35%;
  }

  .twitter,
  .linkedin {
    padding-left: 24px;
  }
}
@media (min-width: 480px) {
  .profile-details {
    float: left;
    width: 70%;
  }

  .secure-details {
    float: right;
    top: 10px;
    width: 30%;
  }
}
@media (min-width: 600px) {
  .profile-details {
    width: 75%;
  }
  .profile-details p,
  .profile-details a {
    font-size: 14px;
  }

  .secure-details {
    width: 25%;
  }
  .secure-details a {
    font-size: 14px;
  }
}
@media (min-width: 1000px) {
  .profile-details {
    width: 73%;
  }

  .secure-details {
    width: 27%;
  }
}
@media (min-width: 1200px) {
  .profile-details {
    width: 80%;
  }

  .secure-details {
    width: 20%;
  }
}
.sign-in--search {
  color: #4693ea;
  float: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}

.secure-login--mobile {
  width: auto;
  border: 0 none;
  margin: 0;
  background: transparent;
  overflow: visible;
  /* Stupid IE */
  #vertical-align: middle;
  /* IE6,IE7 */
  background-color: #4693ea;
  border-radius: 50%;
  color: #FFF;
  font-size: 14px;
  font-size: 1.4rem;
  left: 0;
  padding: 2px 7px;
  position: absolute;
  top: 4px;
}
.secure-login--mobile::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.open-me {
  display: block !important;
}

.secure-login {
  float: left;
  position: relative;
}
.secure-login .sign-in--search {
  float: left;
  margin-right: 1%;
  width: 14%;
}
.secure-login p {
  float: left;
  font-size: 12px;
  font-size: 1.2rem;
  width: 75%;
  z-index: 5050;
}
@media (max-width: 480px) {
  .secure-login {
    margin-bottom: 10px;
  }
  .secure-login p {
    display: none;
  }
  .secure-login .sign-in--search {
    line-height: 27px;
    margin-left: 30px;
    position: relative;
  }
}
@media (min-width: 481px) {
  .secure-login {
    margin-bottom: 20px;
  }
  .secure-login .secure-login--mobile {
    display: none;
  }
}
@media (min-width: 1020px) {
  .secure-login {
    float: right;
  }
  .secure-login .sign-in--search {
    margin-top: -20px;
  }
  .secure-login p {
    padding: 2px 0 0;
    position: absolute;
    text-align: right;
    top: 15px;
    width: 220px;
    right: -20px;
    top: 5px;
  }
}
@media (min-width: 1100px) {
  .secure-login p {
    right: 0;
  }
}

.site-brand-none {
  padding-top: 9.3%;
}

.show-login {
  display: block !important;
}

/*!
 * Pikaday
 * Copyright © 2012 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  width: 280px;
  padding: 8px;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.pika-title {
  position: relative;
  text-align: center;
}

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  background-color: #fff;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  opacity: 0;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  white-space: nowrap;
  text-indent: -9999px;
  overflow: hidden;
  opacity: .5;
  *position: absolute;
  *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
}

.pika-table th {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}

.pika-button {
  cursor: pointer;
  display: block;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  background: #f5f5f5;
}

.is-today .pika-button {
  color: #33aaff;
  font-weight: bold;
}

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background: #33aaff;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
}

.pika-button:hover {
  color: #fff !important;
  background: #ff8000 !important;
  box-shadow: none !important;
  border-radius: 3px !important;
}

/*# sourceMappingURL=search-results.css.map */
