.result__item {
    list-style: none;
    margin: 0 0 20px;
    padding: 0 0 4px;
  .result__title {
    line-height: 1.1;
    margin: 0;
    margin-bottom: 5px;
    a {
      color: #131313;
      font-size: 18px;
      font-weight: bold;
    }

  }


  .result__summary {
    color: #131313; /* text color */
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 5px;
    @media (min-width: 1200px) {
      line-height: 1.5;
      word-spacing: 3px;
    }
  }

  .result__link {
    color: #4c98e5;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 10px;
  }
  @media (min-width: 768px) {
    .result__title a { font-size: 20px; }
    .result__summary { font-size: 16px; }
    .result__link { font-size: 14px; }
  }
}


.result__item--person {
  padding-bottom: 0;
  .vcard {
    margin-bottom: 0;
  }
  ul {

  }
  ul li {
    margin-bottom: 0px;
    margin-left: 0;
  }
  .org {
    clear: both;
    color: #4c98e5;
    display: inline-block;
    font-size: 12px;
    p {
      color: #131313;
      display: inline-block;
    }
    a {
      color: #4c98e5;
      display: inline-block;
      text-decoration: underline;
    }
  }
  .tel {
    font-size: 14px;
    line-height: 24px;
  }
  .org {
    margin-bottom: 0.5em;
  }
  .email {
    padding-left: 30px;
    line-height: 24px;
    position: relative;
    &:before {
      @extend .sprite;

      content: '';
      position: absolute;
      left: -10px;
      width: 18px;
      height: 12px;
      top: 3px;
    }
    a {
      color: #4c98e5;
    }
  }
  .tel a {
    color: #131313;
    &:hover {
      text-decoration: none;
    }
  }
  .tel {
    font-size: 16px;
    padding-left: 30px;
    position: relative;
    &:before {
      @extend .sprite;

      content: '';
      position: absolute;
      left: -10px;
      width: 20px;
      height: 18px;
      top: 3px;
      background-position: 0 -31px;
    }
  }
  .tel--external {
    &:before {
      background-position: 0 -67px;
    }
  }
  .tel--extension {
    &:before {
      background-position: 0 -105px;
    }
  }
  .email a {
    display: block;
    font-size: 12px;
    font-weight: bold;
  }
}


.result__item--person--secure {
  li {
    max-width: 60%;
  }
}


.sprite {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAADFCAQAAAD+4hoMAAACKklEQVRo3u2Zu23DMBRFzwgaQSOoTRFAI2gEJhMYyAJsUmsETRC4dac+jUbQCJrAYQpK/Ig/B0hnko1BHzx+TN5LP4IqV4UCBFsW2xAahAaZgDckDWhwRQANY4CNNIBg1aBCMdMDLZOBJlqgZ7ZjPL7ScMfISGehENRwB0BnoTioUFy5xpfn4XX8f3AugrNCPRSQClbwCcBkmbSSUQClCTXkwMaRwTkHdufDqrIj1FWWJrPsYJcHOyOE5Cdj4uVAi42QBi226AYXFFyRALQO1vhgY6R4cvxmoT26OMAxsgNMNBcMhXRyMQv2HrQynGdnJ3PY5oKIrVY9rhWsYNXwZ9LwF95shJyGv3LnXYMpDf/ixo1vFD98kNHwu9f2mdbwAExp+Lnrwka1kymAdnmqAFSwgtUVnsIV3nh5xBXeufN6gOmb/Qc/KL65ceMr7QqfXts97QoBmL7Z+11nN6o7mcKOtstTBaCCFfwXV2i4ILnsf/LbQzQvgYxuTv56ZrJWMXrgekp26xT17imzyUz0wQDFoY42zyxoA9D0ZsUzXmVoZ/FqMhd9AWxjPhVTX6fkRnnKhqyPxNO/xRJ9V+jyjmreKPzxDVyYgreKNYw2BBay6qeMWGkZkEgkIj6uelwrWMG/arhgZQvEOThXxDQrD3YlcNrvjMWuoc11a0G5V8xnQYNkZmN2X0ldDzs0cfHvuykwcIUc6F61txCcPQsa4k+VLtj7UlfBIvgLYQX1YJ6Gu4wAAAAASUVORK5CIIA=');
  margin-left: 10px;
}
