.result__item {
    clear: both;
    list-style: none;
    margin: 0 0 20px;
    padding: 0 0 4px;

  .result__title {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.1;
    margin: 0 0 5px 0;
    a {
      color: #131313;
    }
  }
  .result__summary {
    color: #131313;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 5px;
    a {
      color: $search-blue;
      &:hover {
        color: #c;
      }
    }
  }

  .result__link {
    color: $search-blue;
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  @media (min-width: 768px) {
    .result__title {
      font-size: 20px;
      font-size: 2rem;
    }
    .result__link {
      font-size: 14px;
      font-size: 1.4rem;
    }
  }
}


.result__item--other {
  background-color: none !important;
  border-bottom: 1px solid lighten(#AAA, 20%);
  float: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;

  .result__title {
    width: 95%;
    padding-right: 5%;
    position: relative;
    &:before {
      background-image: url('../images/search-sprite.png');
      content: '';
      height: 20px;
      position: absolute;
      right: 0;
      width: 20px;
    }
  }
  .result__summary {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .result__details {
    width: 100%;
  }
}

.result__thumbnail {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0 0 12px;
  padding-bottom: 56.25%;
  width: 100%;
}

.result__details {
  float: right;
  margin-bottom: 10px;
  width: 72.5%;
  @media (min-width: 650px) {
    width: 72.5%;
  }
  .result__title {
  }
}

// SoundCloud search results specific
.result__item--soundcloud {
  .result__thumbnail {
    a {
      &:before {
        display: none;
      }
    }
  }
}
.sc-audio {
    float: left;
    width: 100%;
    .play-audio {
      background-color: black;
      background-color: rgba(black, .3);
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      width: 93px;
      height: 60px;
      position: absolute;
      right: 0px;
      bottom: 70px;
        &:before {
          background-image: url('../images/search-sprite.png');
          background-position: 0 -460px;
          content: '';
          position: absolute;
          left: 35px;
          top: 14px;
          width: 27px;
          height: 32px;
          z-index: 5050;
          background-repeat: no-repeat;
        }
        &:hover {
          background-color: black;
        }
      @media (min-width: 480px) {
        bottom: -20%;
        float: left;
        position: relative;
      }
    }

  &__soundwave {
    float: left;
    position: relative;
    @media (min-width: 420px) {
      margin-left: 2%;
      width: 75%;
    }
    @media (min-width: 650px) {
      margin-left: 4%;
      width: 79%;
    }
  }
}


.results__meta {
  clear: both;
  margin-top: 20px;
  width: 100%;
  span {
    clear: both;
    float: left;
    font-weight: bold;
    width: 100%;
  }
}
@media (max-width: 470px) {
  display: block;
}




// no facets

.no-facets {
  .collections__list {
    width: 100%;
    margin: 0 auto;
    height: 34px;
    float: none;
  }
  .search-results {
    float: none;
    width: 100%;
    margin: 0 auto;
  }
  .off-canvas {
    display: none !important;
  }
  @media (max-width: 700px) {
    .results-listed {
      margin-top: 45px;
    }
  }
  @media (min-width: 1050px) {
    .collections__list {
      max-width: 60%;
    }
  }
}



// research search results

.result__item--research {
  float: left;
  margin-bottom: 20px;
  .result__summary {
    margin-bottom: 10px;
  }
  .result__meta {
    float: left;
    position: relative;

    &:before {
      background-image: url(../images/search-sprite.png);
      background-repeat: no-repeat;
      content: '';
      position: absolute;
      right: -24px;
      width: 15px;
    }

    a {
      color: $search-blue;
    }
  }
}

.result__item--research--open {
  .result__meta {
    &:before {
      background-position: -2px -217px;
      height: 22px;
    }
  }
}

.result__item--research--closed {
  .result__meta {
    &:before {
      background-position: -2px -259px;
      height: 23px;
    }
  }
}

.results__meta {
  margin-top: 0;
  a {
    color: $brightpink;
  }
  @media (max-width: 479px) {
    float: left;
    clear: both;
    p {
      display: block;
      float: left;
      overflow: hidden;
      width: 48%;
      margin-right: 2%;
    }
    .results__meta--length {
      margin-left: 0;
      padding-left: 24px;
      box-sizing: border-box;
      &:before {
        left: 0;
      }
    }
  }
  a {
    color: $search-blue !important;
    text-decoration: none;
  }
  &--category {
    color: $brightpink;
    font-size: 14px;
    display: inline;
  }
  &--date {
    color: $brightpink;
    font-size: 14px;
    display: inline;
    span {
      clear: none !important;
      float: none !important;
      display: inline;
      font-weight: normal !important;
    }
  }
  &--views {
    color: $brightpink;
    font-size: 14px;
    display: inline;
    span {
      clear: none !important;
      float: none !important;
      display: inline;
      font-weight: normal !important;
    }
  }
  @media (min-width: 479px) {
    &--category,
    &--date,
    &--views {
      margin-right: 10px;
      position: relative;
      &:before {
        color: darken(#AAA, 20%);
        content: '|';
        font-size: 18px;
        position: absolute;
        right: -10px;
        top: -6px;
      }
      &:last-child {
        &:before {
          display: none !important;
        }
      }
    }
  }
}
.results__meta--length {
  color: darken(#AAA, 20%);
  display: inline;
  font-size: 14px;
  margin-left: 24px;
  position: relative;
  &:before {
    background-image: url('../images/search-sprite.png');
    background-position: 0 -418px;
    background-repeat: no-repeat;
    content: '';
    height: 26px;
    position: absolute;
    left: -26px;
    top: -2px;
    width: 26px;
  }
}

.result__item--iTunes--audio,
.result__item--iTunes--video {
  .results__meta {
    @media (max-width: 479px) {
      p {
        width: 100% !important;
      }
    }
  }
}


// Video Video

.result__item--video {
  .result__title {
    &:before {
      background-position: 0 -301px;
      width: 18px;
    }
  }
  .result__thumbnail {
    margin:0 0 12px;
    height: 100%;
    overflow: hidden;
    padding-bottom: 0;
    width: 100%;
    min-width: 200px;
    // img for now, but might be different
    a {
      display: block;
      position: relative;
      width: 100%;
      &:before {
        background-color: black;
        background-color: rgba(black, .3);
        background-image: url('../images/search-sprite.png');
        background-position: 38px -446px;
        content: '';
        position: absolute;
        width: 94px;
        left: 50%;
        margin-left: -47px;
        top: 50%;
        border-radius: 8px;
        margin-top: -34px;
        height: 60px;
        z-index: 5050;
        background-repeat: no-repeat;
      }
      &:hover {
        &:before {
          background-color: black;
        }
      }
    }
  }
  @media (min-width: 700px) {
    .result__thumbnail {
      width: 32.5%;
      height: auto;
      a {
        display: block;
        height: auto;
      }
      img {
        position: relative;
        top: 0;
        margin-top: auto;
      }
    }
    .result__details {
      width: 65%;
    }
  }
}
/* .result__item--iTunes--video,
.result__item--iTunes--audio {
  @media (min-width: 700px) {
    img {
      max-width: 100px;
    }
  }
} */
// Audio

.result__item--audio {
  .result__title {
    &:before {
      background-position: 0 -341px;
      width: 20px;
    }
  }
  .result__thumbnail {
    padding-bottom: 0;
    a {
      display: block;
      position: relative;
      width: 100%;
      &:before {
        background-color: black;
        background-color: rgba(black, .3);
        background-image: url('../images/search-sprite.png');
        background-position: 38px -446px;
        content: '';
        position: absolute;
        width: 94px;
        left: 50%;
        margin-left: -47px;
        top: 50%;
        border-radius: 8px;
        margin-top: -34px;
        height: 60px;
        z-index: 5050;
        background-repeat: no-repeat;
      }
      &:hover {
        &:before {
          background-color: black;
        }
      }
    }
    img {
      max-width: 100px;
    }
  }
//  @media (min-width: 700px) {
    .result__thumbnail {
      width: 16.5%;
      height: auto;
      a {
        display: block;
        height: auto;
      }
      img {
        position: relative;
        top: 0;
        margin-top: auto;
        max-width: 100px;
      }
    }
    .result__details {
      width: 83%;
    }
//  }
}

.result__item--iTunes--audio {
  .result__thumbnail a:before {
    display: none;
  }
}

// itunes and soundcloud smaller thumbnail

.result__item--soundcloud {
  .result__thumbnail {
    width: 18.5%;
  }
  .result__details {
    width: 80%;
  }

  @media (max-width: 479px) {
    .result__thumbnail {
      width: 100%;
      a {
        &:before {
          left: 84%;
        }
      }
      img {
        max-width: 120px;
      }
    }
    .result__details {
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    .result__thumbnail {
      width: 11.5%;
    }
    .result__details {
      width: 86%;
    }

  }
}


// blogpost results
.result__item--blogpost {
  .result__title {
    margin-bottom: 3px;
    &:before {
      display: none;
    }
  }
}
.result__domain {
  color: $search-blue;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 10px;
}
#modal-video {
  display: none;
}
.show-modal {
  width: 90% !important;
  left: 5%;
  display: block !important;
  min-height: 600px;
  margin-top: 5%;
  box-shadow: 0 0 4px rgba(black, .4);
  border-radius: 8px;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 999999999;
}

.modal-close {
  background-color: #000;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 32px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
  }
}



.is-active {
  &:before {
    background-color: rgba(black, 0.5) !important;
    background-position: 32px -492px !important;
    &:hover {
      background-color: #000;
    }
  }
}
