.off-canvas {
  background: none repeat scroll 0% 0% #4693EA;
  padding: 6px 10px 6px 20px;
  position: relative;
  float: left;
  font-family: "Helvetica Neue";
  font-size: 12px;
  margin-top: 20px;
  @media (min-width: 768px) {
    margin-left: 40px;
  }
  &:before {
    background: url('../images/carat--refine.svg') no-repeat;
    content: '';
    height: 8px;
    left: 5px;
    position: absolute;
    top: 11px;
    transition: transform .3s linear;
    width: 8px;
  }
  &:hover {
    background-color: #034DA1;
  }
  @media (min-width: 768px) and (max-width: 959px) {
    margin-bottom: 20px;
  }
}
.spin {
  &:before {
    transform: rotate(180deg);
    transition: transform .3s linear;
  }
}

.show-facet {
  display: block;
  left: 20px;
  transition: left .3s ease-in-out;
  @media (min-width: 768px) {
    left: 0;
  }
}

.move {
  position: relative;
  left: 280px;
  transition: left .3s ease-in-out;
}

.close-me {
  left: 0;
}
.showit {
  background-color: transparent;
  left: 280px;
  transition: left .3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 5050505;
}


@media(min-width: 850px) {
  .move,
  .showit {
    left: 320px;
  }
}
@media(min-width: 960px) {
  .off-canvas,
  .close {
    display: none !important;
  }
}
