.result__item--best-bet {
  border: 4px solid darken(#4693EA, 17%);
  border-left: none;
  border-right: none;
  background-color: #4693EA;
  clear: both;
  margin: 0 0 30px;
  padding: 10px 40px;
  .result__title {
    margin-top: 0; // override
    margin-bottom: 10px;
    font-size: 20px;
    a {
      color: #131313;
      color: #fff;
    }
  }
  .result__text {
    font-size: 16px;
    color: #fff;
  }
  .result__link {
    font-size: 14px;
    color: #131313; /* text color */
    color: #fff;
    font-style: normal;
  }

  @media (min-width: 768px) {
    margin: 0 40px 30px 40px;
  }
}
