
$blue: #fff;
$light-blue: #0097a9;
$yellow: #f6be00;
$stone: #d6d2c4;


.results-listed {
  color: #131313;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
  clear: both;
}
@media (min-width: 768px) {
  .results-listed {
    clear: none;
    margin-left: 10px;
  }
}
@media (min-width: 800px) {
  .results-listed {
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .results-listed {
    margin-top: 25px;
  }
}
.total-matching {
  font-weight: bold;
}
.result__item--best-bet {
  border: 4px solid darken(#4693EA, 17%);
  border-left: none;
  border-right: none;
  background-color: #4693EA;
  clear: both;
  margin: 0 0 30px;
  padding: 10px 40px;
  .result__title {
    margin-top: 0; // override
    margin-bottom: 10px;
    font-size: 20px;
    a {
      color: #131313;
      color: #fff;
    }
  }
  .result__text {
    font-size: 16px;
    color: #fff;
  }
  .result__link {
    font-size: 14px;
    color: #131313; /* text color */
    color: #fff;
    font-style: normal;
  }

  @media (min-width: 768px) {
    margin: 0 40px 30px 40px;
  }
}





#fb-results {
  clear: both;


  @media (min-width: 768px) {
    padding: 0 40px;
  }


}
.result__item {
    list-style: none;

  }
.result__item--web {
  margin: 0 0 20px;
  padding: 0 0 4px;

  .result__title {
    line-height: 1.1;
    margin: 0;
    margin-bottom: 10px;
    a {
      color: #131313;

      font-size: 18px;
      font-weight: bold;
    }
  }

  .result__summary {
    color: #131313; /* text color */
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 5px;
    @media (min-width: 1200px) {
      line-height: 1.5;
      word-spacing: 3px;
    }
  }

  .result__link {
    color: #4c98e5;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
  }
  @media (min-width: 768px) {
    .result__title a { font-size: 20px; }
    .result__summary { font-size: 16px; }
    .result__link { font-size: 14px; }
  }
}



  #results-sort-by {
    position: absolute;
    right: 0;
    margin: 10px 0 0;
    @media (min-width: 768px) {
      float: right;
      font-size: 14px;
      margin: 10px 40px 20px 0;
      position: relative;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      margin-top: 20px;
    }
  }




  .facets {
    background-color: $stone;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: relative;
    top: -33px;

    h2 {
      font-size: 20px;
      padding-bottom: 40px;
    }
  }

  .results-page {
    float: left;
  }


  .facets {
    padding: 20px 10px 0;
    width: 31.3%;
    @media (min-width: 768px) {
      padding: 20px 20px 0;
    }
  }



  .module--facets {
    background-color: #d6d1c5;
    h2 {
      float: left;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      margin: 0 0 20px 0;
      padding: 0;
    }

    .close {
      color: #FFF;
      line-height: 1;
      margin: 0px;
      text-decoration: none;
      vertical-align: bottom;
      background: none repeat scroll 0% 0% #131313;
      padding: 7px 9px;
      border-radius: 50%;
      position: absolute;
      right: 16px;
      top: 16px;
      font-size: 12px;
    }
  }
  .pillboxes {
    float: left;
    margin-bottom: 10px;
  }
  .pillbox {
    background-color: lighten(#d6d2c4, 10%);
    border: 1px solid darken(#d6d2c4, 20%);
    border-radius: 4px;
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
    transition: background-color .16s linear;
    &:hover {
      background-color: darken(#d6d2c4, 10%);
      > .pillbox__link span {
        color: #131313;
      }
    }
  }
  .pillbox__item {

    margin: 0px 20px 0px 10px;
    padding: 0;
  }
  .pillbox__link {
    color: #131313;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    span {
      color: #aaa;
      font-weight: bold;
      position: relative;
      right: -10px;
      top: 0px;
    }
    &:hover {
      color: #131313;
      text-decoration: none;
      span {
        color: #131313;
      }
    }
  }
  .facet > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .facet {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    h4 {
      background-color: #fff;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      float: left;
      line-height: 1;
      margin: 0 0 10px 0;
      padding: 10px;
      position: relative;
      transition: border-radius .2s ease-in-out;
      width: 100%;
      @media(min-width:768px) {
//      font-size: 20px;
}
&:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAGCAQAAACyJdw0AAAASUlEQVQYV13JuQ3AIBAF0W2EDhGUQURn0wcBcgMIifuwrdEG+58U2eEIuPtfsGRKO/ujBb2DE8yBiWYQCv+adx4laB4S8VNqm66q2myHistXuwAAAABJRU5ErkJggg==");
  content: '';
  height: 6px;
  position: absolute;
  right: 10px;
  top: 15px;
  transition: all .2s ease-in-out;
  width: 13px;
}
}
}

.facet-list {
  background-color: #f3f3f3;
  height: auto;
  list-style: none;
  margin: 10px 0 0;
  padding: 10px;
  transition: all 1s ease-in-out;
}
.facet-list__item {
  margin-bottom: 10px;
  input {
    line-height: 1;
    margin-right: 10px;
  }
  label {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}



.did-you-mean {
  color: #d50032;
  a {
    color: #d50032;
  }
  @media (max-width: 767px) {
    float: left;
    clear: both;
    width: 100%;
  }
}


h3 a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.fb-page-nav {
  padding-top: 20px;
}

p cite {
  font-weight: normal !important;
}


.top {
  background-color: #444444;
  width: 100%;
  height: 46px;
  position: absolute;
  z-index: 5050;
}

.facet-list__item span {
  margin-left: 5px;
  color: #000;
  font-size: 14px;
}



.facets {
  left: -280px;
  position: absolute;
  top: 0;
  width: 280px;
}

.search-results {
  clear: both;
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
  width: 100%;
}



h2 {
  margin: 0;
  padding: 0;
}


@media(min-width: 768px) {
  .facets {
    left: -315px;
    width: 315px;
  }
}


@media(min-width: 850px) {
  .facets {
    left: -355px;
    width: 355px;
  }
}
@media(min-width: 960px) {
  .search-results {
    float: right;
    width: 68.7%;
  }
  .search-meta {
    float: left;
    width: 100%;
  }
  .facets {
    position: relative;
    float: left;
    left: 0;
    width: 31.3%;
    top: -34px;
    border-radius: 4px;
  }

  aside {
    float: left;
    left: 0;
    position: relative;
  }
}



@import "_collections";
@import "_search-meta";
@import "_search-pagination";
@import "_off-canvas--search";

@import "_search-courses";

.close-facet {
  display: none;
}


.rounded {
  border-radius: 4px;
  transition: border-radius .1s ease-in-out;
}


.upside-down {
  &:after {
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;
  }
}
