
.result__item--degrees {
  margin-bottom: 25px;
  th, td {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 19px;
  }
  .result__title {
    font-size: 20px;
    font-size: 2rem;
    span {
      color: #131313;
      margin-left: 10px;
    }
  }
  .result__link {
    background-color: $orange;
    position: relative;
    display: block;
    margin-top: 14px;
    padding: 8px 20px 8px 0;
    transition: background-color .25s linear;
    width: 130px;
    &:hover {
      background-color: lighten($orange, 10%);
      transition: background-color .25s linear;
    }
    &:before {
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 6px 0 6px 12px;
      border-color: transparent transparent transparent #ffffff;
      right: 13px;
      top: 13px;
    }
  }
}
.results__degrees--UG {
  li {
    width: 23%;
    padding: 0 10px;
    margin-left: 1%;
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      width: 31%;
    }
  }
}
.results__degrees--PGT,
.results__degrees--PGD {
  li {
    //  width: 33.3%;
    width: 24%;
    padding: 0 10px;
    margin-left: 1%;
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      width: 31%;
    }
  }
}

// removes the margins for tables in courses collection

.course-details {
  margin-top: 0.5em;
  margin-bottom: 1em;
}


// inline button
.result__item--degrees {
  .result__summary {
    clear: both;
  }
  .result__title {
    float: left;
    line-height: 27px;
    margin-right: 20px;
  }
  .result__link {
    float: left;
    margin: 0;
  }
  @media (min-width: 479px) {
    .result__title {
      line-height: 41px;
    }
  }
}
