.result__item--person {
  padding-bottom: 0;
  .vcard {
    margin-bottom: 0;
  }
  .org {
    clear: both;
    color: #4c98e5;
    display: inline-block;
    font-size: 12px;
    p {
      color: #131313;
      display: inline-block;
    }
    a {
      color: #4c98e5;
      display: inline-block;
      text-decoration: underline;
    }
  }
  .org {
    margin-bottom: 0.5em;
  }
  .email {
    padding-left: 30px;
    line-height: 24px;
    position: relative;
    &:before {
      @extend .sprite;

      content: '';
      position: absolute;
      left: -10px;
      width: 18px;
      height: 12px;
      top: 6px;
    }
    a {
      color: #4c98e5;
    }
  }
  .tel a {
    color: #131313;
    &:hover {
      text-decoration: none;
    }
  }
  .tel {
    font-size: 14px;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
    span {
      font-weight: bold;
    }
    &:before {
      @extend .sprite;

      content: '';
      position: absolute;
      left: -10px;
      width: 20px;
      height: 18px;
      top: 3px;
      background-position: 0 -31px;
    }
  }
  .tel--external {
    &:before {
      background-position: 0 -67px;
    }
  }
  .email a {
    font-weight: bold;
  }
}


.sprite {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAADFCAQAAAD+4hoMAAACKklEQVRo3u2Zu23DMBRFzwgaQSOoTRFAI2gEJhMYyAJsUmsETRC4dac+jUbQCJrAYQpK/Ig/B0hnko1BHzx+TN5LP4IqV4UCBFsW2xAahAaZgDckDWhwRQANY4CNNIBg1aBCMdMDLZOBJlqgZ7ZjPL7ScMfISGehENRwB0BnoTioUFy5xpfn4XX8f3AugrNCPRSQClbwCcBkmbSSUQClCTXkwMaRwTkHdufDqrIj1FWWJrPsYJcHOyOE5Cdj4uVAi42QBi226AYXFFyRALQO1vhgY6R4cvxmoT26OMAxsgNMNBcMhXRyMQv2HrQynGdnJ3PY5oKIrVY9rhWsYNXwZ9LwF95shJyGv3LnXYMpDf/ixo1vFD98kNHwu9f2mdbwAExp+Lnrwka1kymAdnmqAFSwgtUVnsIV3nh5xBXeufN6gOmb/Qc/KL65ceMr7QqfXts97QoBmL7Z+11nN6o7mcKOtstTBaCCFfwXV2i4ILnsf/LbQzQvgYxuTv56ZrJWMXrgekp26xT17imzyUz0wQDFoY42zyxoA9D0ZsUzXmVoZ/FqMhd9AWxjPhVTX6fkRnnKhqyPxNO/xRJ9V+jyjmreKPzxDVyYgreKNYw2BBay6qeMWGkZkEgkIj6uelwrWMG/arhgZQvEOThXxDQrD3YlcNrvjMWuoc11a0G5V8xnQYNkZmN2X0ldDzs0cfHvuykwcIUc6F61txCcPQsa4k+VLtj7UlfBIvgLYQX1YJ6Gu4wAAAAASUVORK5CIIA=');
  margin-left: 10px;
}


.secure-details {
  li {
    max-width: 100%;
  }
  a {
    color: #4c98e5;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
  }
  img {
    max-width: 120px;
  }
}

@media (min-width: 480px) {
  .profile-details {
    float: left;
    width: 70%;
  }
  .secure-details {
    float: right;
    top: 10px;
    width: 30%;
  }
}
@media (min-width: 600px){
  .profile-details {
    width: 75%;
    p,
    a {
      font-size: 14px;
    }
  }
  .secure-details {
    width: 25%;
    a {
      font-size: 14px;
    }
  }
}

@media (min-width: 1000px){
  .profile-details {
    width: 80%;
  }
  .secure-details {
    width: 20%;
  }
}

.twitter {
  position: relative;
  padding-left: 30px;
  &:before {
    @extend .sprite;

    content: '';
    position: absolute;
    left: -10px;
    width: 20px;
    height: 18px;
    top: 3px;
    background-position: 0 -143px;
  }
}

.linkedin {
  position: relative;
  padding-left: 30px;
  &:before {
    @extend .sprite;

    content: '';
    position: absolute;
    left: -10px;
    width: 20px;
    height: 18px;
    top: 3px;
    background-position: 0 -179px;
  }
}
