.results-nav {
  clear: both;
  font-size: 16px;
  font-size: 1.6rem;
}

.results-nav__list {
  display: inline-block;

  > li {
    display: inline-block;
    background-color: #4c98e5;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 0;
    border-radius: 4px;
    padding: 5px 10px;


    text-decoration: none;
    a {
      color: #fff;
      display: block;
      transition: background .2s linear;
    }
    &:hover {
      background-color: #034DA1;
      transition: background .2s linear;
      & > a{
        text-decoration: none;
      }
    }
  }
  .current {
    background-color: #034DA1;
    font-weight: bold;
  }
}
.results-nav {
  p {
    display: inline-block;
    line-height: 32px;
  }
  .fb-current-result-page {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .results-nav {
    text-align: center;
    > a {
      display: inline;
      margin-bottom: 0;
    }
  }
}
