$blue: #fff;
$light-blue: #0097a9;
$yellow: #f6be00;
$stone: #d6d2c4;


.results-listed {
  color: #131313;
  font-size: 14px;
  font-size: 1.4rem;
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
  clear: both;
}
@media (min-width: 768px) {
  .results-listed {
    clear: none;
    margin-left: 10px;
  }
}
@media (min-width: 800px) {
  .results-listed {
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .results-listed {
    margin-top: 25px;
  }
}
.total-matching {
  font-weight: bold;
}



#fb-results {
  clear: both;


  @media (min-width: 768px) {
    padding: 0 40px;
  }


}

.result__item--web {

}



  #results-sort-by {
    position: absolute;
    right: 0;
    margin: 10px 0 0;
    @media (min-width: 768px) {
      float: right;
      font-size: 14px;
      font-size: 1.4rem;
      margin: 10px 40px 20px 0;
      position: relative;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      margin-top: 20px;
    }
  }




  .facets {
    background-color: $stone;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: relative;
    top: -33px;

    h2 {
      font-size: 20px;
      font-size: 2rem;
      padding-bottom: 40px;
    }
  }

  .results-page {
    float: left;
  }


  .facets {
    padding: 20px 10px 0;
    width: 31.3%;
    @media (min-width: 768px) {
      padding: 20px 20px 0;
    }
  }



  .module--facets {
    background-color: #d6d1c5;
    h2 {
      float: left;
      font-size: 20px;
      font-size: 2rem;
      font-weight: bold;
      line-height: 1;
      margin: 0 0 20px 0;
      padding: 0;
    }

    .close {
      color: #FFF;
      line-height: 1;
      margin: 0px;
      text-decoration: none;
      vertical-align: bottom;
      background: none repeat scroll 0% 0% #131313;
      padding: 7px 9px;
      border-radius: 50%;
      position: absolute;
      right: 16px;
      top: 16px;
      font-size: 12px;
    }
  }

  .facet > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .facet {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    h4 {
      background-color: #fff;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      float: left;
      font-sizce: 14px;
      font-size: 1.4rem;
      line-height: 1;
      margin: 0 0 10px 0;
      padding: 10px;
      position: relative;
      transition: border-radius .2s ease-in-out;
      width: 100%;
      @media(min-width:768px) {
//      font-size: 20px;
}
&:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 13px;
  transition: all .2s ease-in-out;
  border-style: solid;
  border-width: 10px 6px 0;
  border-color: #d6d1c5 transparent transparent transparent;
}
}
}

.facet-list {
  background-color: #f3f3f3;
  height: auto;
  list-style: none;
  margin: 10px 0 0;
  padding: 10px;
  transition: all 1s ease-in-out;
}
.facet-list__item {
  margin-bottom: 10px;
  input {
    line-height: 1;
    margin-right: 10px;
  }
  label {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}



.did-you-mean {
  color: #d50032;
  a {
    color: #d50032;
  }
  @media (max-width: 767px) {
    float: left;
    clear: both;
    width: 100%;
  }
}


h3 a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.fb-page-nav {
  padding-top: 20px;
}

p cite {
  font-weight: normal !important;
}


.top {
  background-color: #444444;
  width: 100%;
  height: 46px;
  position: absolute;
  z-index: 5050;
}

.facet-list__item {
  span {
    margin-left: 5px;
    color: #000;
    font-size: 14px;
    font-size: 1.4rem;
  }
  em {
    font-size: 12px;
    font-size: 1.2rem;
    margin-left: 10px;
  }
}



.facets {
  left: -280px;
  position: absolute;
  top: 0;
  width: 280px;
}

.search-results {
  clear: both;
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
  width: 100%;
}



h2 {
  margin: 0;
  padding: 0;
}


@media(min-width: 768px) {
  .facets {
    left: -315px;
    width: 315px;
  }
}


@media(min-width: 850px) {
  .facets {
    left: -355px;
    width: 355px;
  }
}
@media(min-width: 1024px) {
  .search-results {
    float: right;
    width: 68.7%;
  }
  .search-meta {
    float: left;
    width: 100%;
  }
  .facets {
    position: relative;
    float: left;
    left: 0;
    width: 31.3%;
    top: -34px;
    border-radius: 4px;
  }

  aside {
    float: left;
    left: 0;
    position: relative;
  }
}


@import "_basic-results";
@import "_results-best-bet";
@import "_collections";
@import "_search-meta";
@import "_search-aside";
@import "_search-pagination";
@import "_off-canvas--search";
@import "_search-courses";
@import "_search-directory";



// Search Secure Login Link
.sign-in--search {
  color: $search-blue;
  float: left;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}
.secure-login--mobile {
  &::-moz-focus-inner {
  border:0;
  padding:0
}
  width:auto;
  border:0 none;
  margin:0;
  background:transparent;
  overflow:visible;
  /* Stupid IE */
  #vertical-align:middle; /* IE6,IE7 */
  background-color: $search-blue;
  border-radius: 50%;
  color: #FFF;
  font-size: 14px;
  font-size: 1.4rem;
  left: 0;
  padding: 2px 7px;
  position: absolute;
  top: 4px;
}

.open-me {
  display: block !important;
}
.secure-login {
  float: left;

  position: relative;

  .sign-in--search {
    float: left;
    margin-right: 1%;
    width: 14%;
  }
  p {
    float: left;
    font-size: 12px;
    font-size: 1.2rem;
    width: 75%;
    z-index: 5050;
  }
  @media (max-width: 480px) {
    margin-bottom: 10px;
    p {
      display: none;
    }
    .sign-in--search {
      line-height: 27px;
      margin-left: 30px;
      position: relative;
      &:before {
      }
    }
  }
  @media (min-width: 481px) {
    margin-bottom: 20px;
    .secure-login--mobile {
      display: none;
    }
  }
  @media (min-width: 1020px) {
    float: right;
    .sign-in--search {
      margin-top: -20px;
    }
    p {
      padding: 2px 0 0;
      position: absolute;
      text-align: right;
      top: 15px;
      width: 220px;
      right: -20px;
      top: 5px;
    }
  }
  @media (min-width: 1100px) {
    p {
      right: 0;
    }
  }
}



// site brand none (needs to get put in indigo)

.site-brand-none {
  padding-top: 9.3%;
}

.show-login {
  display: block !important;
}




// pickaday boilerplate CSS

@charset "UTF-8";

/*!
 * Pikaday
 * Copyright © 2012 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    width: 280px;
    padding: 8px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}
