
$blue: #fff;
$light-blue: #0097a9;
$yellow: #f6be00;
$stone: #d6d2c4;


.results-listed {
  color: #131313;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
  float: left;
  clear: both;
}
@media (min-width: 768px) {
  .results-listed {
    clear: none;
    margin-left: 10px;
  }
}
@media (min-width: 800px) {
  .results-listed {
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .results-listed {
    margin-top: 25px;
  }
}
.total-matching {
  font-weight: bold;
}



#fb-results {
  clear: both;


  @media (min-width: 768px) {
    padding: 0 40px;
  }


}

.result__item--web {

}



  #results-sort-by {
    position: absolute;
    right: 0;
    margin: 10px 0 0;
    @media (min-width: 768px) {
      float: right;
      font-size: 14px;
      margin: 10px 40px 20px 0;
      position: relative;
    }
    @media (min-width: 768px) and (max-width: 959px) {
      margin-top: 20px;
    }
  }




  .facets {
    background-color: $stone;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    position: relative;
    top: -33px;

    h2 {
      font-size: 20px;
      padding-bottom: 40px;
    }
  }

  .results-page {
    float: left;
  }


  .facets {
    padding: 20px 10px 0;
    width: 31.3%;
    @media (min-width: 768px) {
      padding: 20px 20px 0;
    }
  }



  .module--facets {
    background-color: #d6d1c5;
    h2 {
      float: left;
      font-size: 20px;
      font-weight: bold;
      line-height: 1;
      margin: 0 0 20px 0;
      padding: 0;
    }

    .close {
      color: #FFF;
      line-height: 1;
      margin: 0px;
      text-decoration: none;
      vertical-align: bottom;
      background: none repeat scroll 0% 0% #131313;
      padding: 7px 9px;
      border-radius: 50%;
      position: absolute;
      right: 16px;
      top: 16px;
      font-size: 12px;
    }
  }

  .facet > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .facet {
    clear: both;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    h4 {
      background-color: #fff;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
      float: left;
      font-sizce: 14px;
      font-size: 1.4rem;
      line-height: 1;
      margin: 0 0 10px 0;
      padding: 10px;
      position: relative;
      transition: border-radius .2s ease-in-out;
      width: 100%;
      @media(min-width:768px) {
//      font-size: 20px;
}
&:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 13px;
  transition: all .2s ease-in-out;
  border-style: solid;
  border-width: 10px 6px 0;
  border-color: #d6d1c5 transparent transparent transparent;
}
}
}

.facet-list {
  background-color: #f3f3f3;
  height: auto;
  list-style: none;
  margin: 10px 0 0;
  padding: 10px;
  transition: all 1s ease-in-out;
}
.facet-list__item {
  margin-bottom: 10px;
  input {
    line-height: 1;
    margin-right: 10px;
  }
  label {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}



.did-you-mean {
  color: #d50032;
  a {
    color: #d50032;
  }
  @media (max-width: 767px) {
    float: left;
    clear: both;
    width: 100%;
  }
}


h3 a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.fb-page-nav {
  padding-top: 20px;
}

p cite {
  font-weight: normal !important;
}


.top {
  background-color: #444444;
  width: 100%;
  height: 46px;
  position: absolute;
  z-index: 5050;
}

.facet-list__item span {
  margin-left: 5px;
  color: #000;
  font-size: 14px;
}



.facets {
  left: -280px;
  position: absolute;
  top: 0;
  width: 280px;
}

.search-results {
  clear: both;
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
  width: 100%;
}



h2 {
  margin: 0;
  padding: 0;
}


@media(min-width: 768px) {
  .facets {
    left: -315px;
    width: 315px;
  }
}


@media(min-width: 850px) {
  .facets {
    left: -355px;
    width: 355px;
  }
}
@media(min-width: 960px) {
  .search-results {
    float: right;
    width: 68.7%;
  }
  .search-meta {
    float: left;
    width: 100%;
  }
  .facets {
    position: relative;
    float: left;
    left: 0;
    width: 31.3%;
    top: -34px;
    border-radius: 4px;
  }

  aside {
    float: left;
    left: 0;
    position: relative;
  }
}


@import "_basic-results";
@import "_results-best-bet";
@import "_collections";
@import "_search-meta";
@import "_search-aside";
@import "_search-pagination";
@import "_off-canvas--search";
@import "_search-courses";

.close-facet {
  display: none;
}


.rounded {
  border-radius: 4px;
  transition: border-radius .1s ease-in-out;
}


.upside-down {
  &:after {
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;
  }
}
