
.result__item--degrees {
  margin-bottom: 25px;
  th, td {
    font-size: 13px;
    line-height: 19px;
  }
  .result__title {
    font-size: 20px;
    span {
      color: #131313;
      margin-left: 10px;
    }
  }
}
.results__degrees--UG {
  li {
    width: 23%;
    padding: 0 10px;
    margin-left: 1%;
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      width: 31%;
    }
  }
}
.results__degrees--PGT,
.results__degrees--PGD {
  li {
  //  width: 33.3%;
    width: 24%;
        padding: 0 10px;
    margin-left: 1%;
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      width: 31%;
    }
  }
}

// removes the margins for tables in courses collection

.course-details {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
