.pillbox-container {
  background-color: #fff;
  float: left;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
  width: 100%;
  h4 {
    margin: 0;
    margin-bottom: 10px;
  }

}

.pillboxes {
  float: left;
  width: 100%;
}
.pillbox {
  background-color: lighten(#d6d2c4, 10%);
  border: 1px solid darken(#d6d2c4, 20%);
  border-radius: 4px;
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 0 20px 0 10px;
  transition: background-color .16s linear;
  &:hover {
    background-color: darken(#d6d2c4, 10%);
    > .pillbox__link span {
      color: #131313;
    }
  }
}

.pillbox__link {
  color: #131313;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 35px;
  position: relative;
  text-decoration: none;
  text-transform: none;
  span {
    color: #aaa;
    font-weight: bold;
    position: relative;
    right: -10px;
    top: 0;
  }
  &:hover {
    color: #131313;
    text-decoration: none;
  }
}

@media (max-width: 1023px) {
  .pillboxes--desktop {
    display: none;
  }
  .pillboxes--mobile {
    display: block;
  }
}
@media (max-width: 1024px) {
  .pillboxes--mobile {
    padding-left: 40px;
    border: 1px solid #d6d2c4;
    border-radius: 4px;
  }
}
@media (min-width: 1024px) {
  .pillboxes--desktop {
    display: block;
  }
  .pillboxes--mobile {
    display: none;
  }
}

.facet-list__link {
  clear: both;
  color: $search-blue;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: underline;
}

.view-all {
  float: right;
  color: $search-blue;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  margin-right: 16px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.facet--close {
  h4 {
    border-radius: 4px;
    transition: border-radius .1s ease-in-out;
    &:after {
      transform: rotate(180deg);
      transition: transform .2s ease-in-out;
    }
  }
  .facet-list {
    display: none;
  }
}

.facets {
  input[type="button"] {
    background-color: $search-blue;
    padding: 6px 8px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

.js {
  .facets {
    input[type="button"] {
      display: none !important;
    }
  }
}
.facets {
  input[type="button"] {
    display: none !important;
  }
}


// makes input 16px to prevent iOS zoom (should probably go to Indigo)

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }
