.search-meta {
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
  width: 100%;
}
#fb-queryform {
  border-bottom: 1px solid #EEE;
  width: 100%;
  clear: both;
  padding: 0 20px;
  position: relative;
  left: -20px;
  margin-bottom: 20px;
  input {
    border:none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    padding: 0 0 0 10px;
    width: 71.5%;
  }
  button {
    padding: 9px 10px;
  }
  .search {
    float: right;
    width: 20%;
  }
}

@media (min-width: 768px) {
  #fb-queryform {
    border-bottom: none;
    margin: 0 auto 30px;
    max-width: 400px;
    padding: 0;
    input {
      border: 1px solid #EEE;
      border-radius: 4px;
      width: 76.3%;
    }
  }
  .search {
    width: 80px;
  }
}
