.search-results__meta {
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
  width: 100%;
}
.search-box {
  & * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  width: 100%;
  clear: both;
  padding: 0 20px;
  position: relative;
  left: -20px;
  margin-bottom: 20px;
  input {
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    font-size: 1.4rem;
    height: 36px;
    line-height: 36px;
    margin: 0;
    margin-right: 2%;
    padding: 0 0 0 10px;
    width: 75.9%;
  }
  button {
    padding: 8px 10px;
    top: -1px;
    transition: background .2s linear;
  }
  .search {
    width: 20%;
    &:hover {
      border-bottom-color: rgba(0, 0, 0, 0.21);
    }
  }
}

@media (min-width: 768px) {
  .search-box {
    display: none;
    border-bottom: none;
    margin: 0 auto 30px;
    max-width: 560px;
    padding: 0;
    input {
      width: 75%;
    }
  }
  .search {
    width: 80px;
  }
}
