@mixin link-colors($color, $hover-color: $link-colour-hover, $active-color: $link-colour-active, $visited-color: $link-colour-visited) {
    color: $color;

    &:hover,
    &:focus {
        @if $hover-color != false {
            @if $hover-color == 'auto' {
                color: link-state-color($color, 20%);
            }
            @else {
                color: $hover-color;
            }
        }
    }

    &:active {
        @if $active-color != false {
            @if $active-color == 'auto' {
                color: link-state-color($color, 30%);
            }
            @else {
                color: $active-color;
            }
        }
    }

    &:visited {
        @if $visited-color != false {
            @if $visited-color == 'auto' {
                color: link-state-color($color, 10%);
            }
            @else {
                color: $visited-color;
            }
        }
    }
}

@mixin button-colors($background-color, $background-hover-color: 'auto', $background-active-color: 'auto', $text-color: 'auto') {
    background-color: $background-color;

    @if $background-hover-color == 'auto' {
        $background-hover-color: link-state-color($background-color, 20%);
    }
    @if $background-active-color == 'auto' {
        $background-active-color: link-state-color($background-color, 50%);
    }

    @if $background-color != transparent {
        text-decoration: none;
    }

    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
        @if $text-color == 'auto' {
            color: color-for-background($background-color);
        }
        @else {
            color: $text-color;
        }
    }

    &:hover,
    &:focus {
        background-color: $background-hover-color;
        
        @if $text-color == 'auto' {
            color: color-for-background($background-hover-color);
        }
    }

    @if $background-active-color != false {
        &.active,
        &.active-trail {
            background-color: $background-active-color;
        
            @if $text-color == 'auto' {
                color: color-for-background($background-active-color);
            }
        }
    }
}