/*
* Pattern name: Accordion
* Use: Hide/reveal mechanism for concatenating similar/related content
* Note: N/A
-------------------------------------------------------------- */

.accordion {}

.accordion__title, .accordion__description {
	padding: 10px;
	border-top: 1px solid #ccc;
	margin-top: 0;
	&:last-of-type {
		border-bottom: 1px solid #ccc;
	}
	a {
		font-weight: bold;
	}
}

.accordion__title {
	a {
		align-items: center;
		color: $black;
		display: block; // Fallback which still works, but not as nice.
		display: flex;
		justify-content: space-between;
	}
}

.accordion__state-indicator {
	@include rem('font-size', $font-size-h3);
	display: inline-block;
	font-weight: 500;
	margin: 0 1rem;
	text-align: center;
	width: 2rem;
	
	&:hover {
		text-decoration: none;
	}
	
	&:after {
		content: '+';
	}
	
	.accordion__title a.currentAccordionAnchor & {
		&:after {
			content: '–';
		}
	}
}

.accordion__description {
	border-top: 0;
	overflow: hidden;
	@include guttering;
	&:last-of-type {
		position: relative;
		top: -1px;
	}
}
