
/* Slick slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
		display: flex;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}
.slick-arrow.slick-hidden {
	display: none;
}

.slick-dots {
  margin: 1rem;
  text-align: center;
  
  li {
	cursor: pointer;
		display: inline-block;
		zoom: 1;
		*display: inline;
	
	button {
	  @include rem('height', 1);
	  @include rem('width', 1);
	  @include rem('margin', 3/4);
	  background: $brightblue;
	  border-radius: 50%;
	  display: block;
	  padding: 0;
	  text-indent: -9999rem;
	  transition: opacity 200ms ease;
	  -webkit-backface-visibility: visible;
	}
	
	&.slick-active,
	&:hover {
	  button {
		background: transparentize($brightblue, .5);
	  }
	}
  }
}

.slick-arrow {
  background: none;
  bottom: 0;
  color: $brightblue;
  margin: 0;
  padding: 0.5em;
  position: absolute;
  z-index: 1; // On top of the slides.
  
  &.slick-next {
	right: 0;
  }
  
  i {
	margin: 0 0.5em;
  }
  
  span {
	@extend %visually-hidden;
  }
  
  &:hover,
  &:focus {
	background: none;
	color: transparentize($brightblue, .5);
  }
}

.slick-carousel__item {
	position: relative;
	margin: 1px;
	padding: 1px;
	figcaption {
	align-self: flex-end;
		background-color: #222;
	display: block;
		opacity:0.85;
		padding:10px;
		h2 {
				color:white;
				font-weight:500;
				border-bottom:none !important;
				margin:0.3em 0 0 !important;
		}
		p
		{
				color:#fff;
		}
		a{
				font-weight: bold;
				color:#fff;
				text-decoration:underline;
		}
	}
  img {
	align-self: center;
	display: block;
	float: left;
	margin: 0;
	margin-right: -100%; // Break stacking, stays under other elements.
  }
}

@media only screen and (max-width: $screen-sm-max) {
	.owl-carousel__item figcaption {
		position:inherit;   
		bottom:0;
		left:0;
		opacity:1;
		background-color: #555;
	}
	#main .owl-carousel__item figcaption h2 {
	 font-size:1.25em;   
	}
}
