
$blue: #fff;
$light-blue: #0097a9;
$yellow: #f6be00;
$stone: #d6d2c4;

#fb-queryform {
  margin: 0 auto 30px;
  max-width: 400px;
  input {
    border: 1px solid #EEE;
    border-radius: 4px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
    padding: 0 0 0 10px;
    width: 79%;
  }
  button {
    padding: 9px 10px;
  }
}
#fb-matching {
  color: #131313;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 40px;
  float: left;
}
#fb-total-matching {
  font-weight: bold;
}
.fb-best-bet {
  border: 4px solid darken(#4693EA, 17%);
  border-left: none;
  border-right: none;
  background-color: #4693EA;
  clear: both;
  margin: 0 40px 30px 40px;
  padding: 10px 20px;
  h3 {
    margin-top: 0; // override
    margin-bottom: 10px;
    font-size: 20px;
    a {
      color: #131313;
      color: #fff;
    }
  }
  p {
    color: #fff;
    a {
     font-size: 14px;
      color: #131313; /* text color */
      color: #fff;
      font-style: normal;
    }
  }
}





#fb-results {
  clear: both;
  padding: 0 40px;
  li {
    // border-bottom: 1px solid $stone;
    list-style: none;
    margin: 0 0 20px;
    padding: 0 0 4px;
  }
  h3 {
    line-height: 1.1;
    margin: 0;
    margin-bottom: 10px;
    a {
      color: #131313; /* text color */
//      color: #4c98e5;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .fb-summary {
    color: #131313; /* text color */
    font-family: "Helvetica Neue";
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 5px;
    @media (min-width: 1200px) {
      line-height: 1.5;
      word-spacing: 3px;
    }
  }

  cite a {
    color: #4c98e5; /* text color */
    display: block;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
  }
  @media (min-width: 768px) {
    h3 a { font-size: 20px; }
    .fb-summary { font-size: 16px; }
    cita a { font-size: 14px; }
  }

}



.collections {


  li {
    background-color: lighten(#d6d2c4, 10%);
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    display: block;
    float: left;
    margin-left: 10px;
    padding: 6px 10px;
    &:first-child {
      margin-left: 40px;
    }
    &:hover {
      background-color: lighten(#d6d2c4, 4%);
    }
    a {

    }
  }
}

.collections {
  border: 1px solid #bbb;
  height: 30px;
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.show-list {
  height: auto;
  overflow: visible !important;
  z-index: 5050;
}

.collections__item {
  list-style: none;
  line-height: 30px;
  a {
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #131313;
    display: block;
    font-size: 14px;
    text-decoration: none;
    span {
      margin-left: 5px;
    }
  }
}

.collections__item--btn {
  left: 5px;
  height: 30px;
  top: 5px;
  position: absolute;
  z-index: 5050;
  width: 100%;
  background-color: transparent !important;
  a {
    display: block;
    height: 30px;
    z-index: 5050;
  }
}

.collections__item--is-selected {
  position: relative;
  top: 0;
  &:hover {
    background-color: transparent !important;
  }
}

@media (min-width: 768px) {
  .collections__item--btn {
    display: none !important;
  }
  .collections {
    border: none;
    height: auto;
    max-width: 100%;
    overflow: visible;
    padding: 0;
    border-bottom: 1px solid #d6d2c4;
    float: right;
  }
  .collections__item {
    background-color: #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
    margin-left: 10px;
    padding: 5px 10px;
  }
  .collections__item--is-selected {
    background-color: #d6d2c4;
    padding: 5px 10px 7px;

    &:hover {
      background-color: #d6d2c4 !important;
    }
    a {
      font-weight: bold;
      position: relative;
      top: 2px;
    }
  }
}




#sorting {
  float: right;
  font-size: 14px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fb-page-nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  > a {
    background-color: #4c98e5;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
    margin-left: 5px;
    margin-right: 0;
    padding: 5px 10px;
    text-decoration: none;
    &:hover {
      box-shadow: 0 0 3px 1px rgba(#4c98e5, .3);
    }
  }
  .fb-current-result-page {
    font-weight: bold;
    padding: 5px 10px;
  }
}




.facets {
  background-color: $stone;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  position: relative;
  top: -33px;

  h2 {
    font-size: 20px;
    padding-bottom: 40px;
  }
}

.results-page {
  float: left;
}


.facets {
  padding: 20px 20px 0;
  width: 31.3%;
}



.module--facets {
  background-color: #d6d1c5;
  h2 {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 20px 0;
    padding: 0;
  }
  @media (min-width: 768px) {
//    font-size: 20px;
  }
  .close {
    color: #131313;
    float: right;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: bottom;
  }
}
.pillboxes {
  float: left;
  margin-bottom: 10px;
}
.pillbox {
  background-color: #ebebeb;
  border-radius: 4px;
  float: left;
  list-style: none;
  margin: 0 10px 10px 0;
}
.pillbox__item {
  font-size: 14px;
  margin: 7px 30px 7px 10px;
  padding: 0;
  position: relative;
}
.pillbox__link {
  color: #131313;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  span {
    color: #bbb;
    font-weight: bold;
    position: absolute;
    right: -20px;
  }
}
.facet > * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.facet {
  clear: both;
  float: left;
  margin-bottom: 20px;
  width: 100%;
  h4 {
    background-color: #fff;
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    float: left;
    line-height: 1;
    margin: 0 0 10px 0;
    padding: 10px;
    position: relative;
    transition: border-radius .2s ease-in-out;
    width: 100%;
    @media(min-width:768px) {
//      font-size: 20px;
    }
    &:after {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAGCAQAAACyJdw0AAAASUlEQVQYV13JuQ3AIBAF0W2EDhGUQURn0wcBcgMIifuwrdEG+58U2eEIuPtfsGRKO/ujBb2DE8yBiWYQCv+adx4laB4S8VNqm66q2myHistXuwAAAABJRU5ErkJggg==");
      content: '';
      height: 6px;
      position: absolute;
      right: 10px;
      top: 15px;
      transition: all .2s ease-in-out;
      width: 13px;
    }
  }
}

.facet-list {
  background-color: #f3f3f3;
  height: auto;
  list-style: none;
  margin: 10px 0 0;
  padding: 10px;
  transition: all 1s ease-in-out;
}
.facet-list__item {
  margin-bottom: 10px;
  input {
    line-height: 1;
    margin-right: 10px;
  }
  label {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}



.did-you-mean {
  color: #d50032;
  a {
    color: #d50032;
  }
}

h3 a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.fb-page-nav {
  padding-top: 20px;
}

p cite {
  font-weight: normal !important;
}


.top {
  background-color: #444444;
  width: 100%;
  height: 46px;
  position: absolute;
  z-index: 5050;
}

.facet-list__item span {
  margin-left: 5px;
  color: #000;
  font-size: 14px;
}



// overides MBD code

#main {
  padding-top: 0;
}


.rounded {
  border-radius: 4px;
  transition: border-radius .1s ease-in-out;
}


.upside-down {
  &:after {
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;
  }
}
















#main {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.facets {
  left: -280px;
  position: absolute;
  top: 0;
  width: 280px;
}
.search-meta {
  left: 0;
  position: relative;
  transition: left .3s ease-in-out;
  width: 100%;
}
.collections {
  width: 100%;
}
.search-results {
  position: relative;
  left: 0;
  transition: left .3s ease-in-out;
  width: 100%;
}

.hide-facet {
  display: none;
  left: 0;
  transition: left .3s ease-in-out;
}

.move {
  position: relative;
  left: 280px;
  transition: left .3s ease-in-out;
}

h2 {
  margin: 0;
  padding: 0;
}


.close-me {
  left: 0;
}
.showit {
  background-color: transparent;
  left: 280px;
  transition: left .3s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 5050505;
}


@media(min-width: 850px) {
  .move,
  .showit {
    left: 320px;
  }
  .facets {
    left: -320px;
    width: 320px;
  }
}
@media(min-width: 900px) {
  .off-canvas,
  .close {
    display: none !important;
  }
  .search-results {
    float: right;
    width: 68.7%;
  }
  .search-meta {
    float: left;
    width: 100%;
  }
  .facets {
    position: relative;
    float: left;
    left: 0;
    width: 31.3%;
    top: -34px;
    border-radius: 4px;
  }
  .collections {
    width: 68.7%;
  }
  aside {
    float: left;
    left: 0;
    position: relative;
  }
}

