// Derived breakpoints. These depend on variables/breakpoints.
//--------------------------------------------------------------

$screen-xxs-max: $screen-xs - 1px;
$screen-xs-max: $screen-sm - 1px;
$screen-sm-max: $screen-md - 1px;
$screen-md-max: $screen-lg - 1px;
$screen-lg-max: $screen-xl - 1px;
$screen-xl-max: $screen-xxl - 1px;
$screen-xxl-max: $screen-xxxl - 1px;