// UCL Derived Colors. These depend on variables/colors.
//--------------------------------------------------------------

// Generic grayscale.
//--------------------------------------------------------------
$offblack: mix($black, $white, 90%);
$ultradarkgrey: mix($black, $white, 80%);
$darkgrey: mix($black, $white, 73.5%);
$warmgrey: mix($black, $white, 60%);
$grey: mix($black, $white, 50%);
$lightgrey: mix($black, $white, 30%);
$ultralightgrey: mix($black, $white, 10%);
$megalightgrey: mix($black, $white, 4%);

// Colour by element
//--------------------------------------------------------------
$cta-blue: $link-colour;
$captioned-image-bg: $ultralightgrey;

$body-bg-color: $beige;
$text-color: $black;

// Landmarks.
$masthead-bg-color: $gray-ucl-masthead;
$masthead-link-color: $true-white;

$header-bg-color: $warmgrey;
$header-text-color: $white;

$nav-top-bg-color: $white;
$nav-top-line-color: $rule-color;
$nav-top-link-color: $link-colour;
$nav-left-bg-color: none;
$nav-left-sub-bg-color: transparent;
$nav-left-line-color: $beige;
$nav-left-link-color: 'auto';
$nav-left-link-bg-color: $sand;
$nav-left-link-bg-hover-color: 'auto';
$nav-left-link-bg-active-color: $primary-colour;
$nav-left-sublink-color: $black;

$content-bg-color: $white;

$sidebar-bg-color: transparent;

$footer-bg-color: $ultradarkgrey;
$footer-text-color: $white;
$footer-link-color: $megalightgrey;


// Accordion.
$accordion-link-color: $black;
$accordion-bg-color: transparent;
$accordion-border-color: $ultralightgrey;

// Box.
$box-bg-color: mix($fx-colour, $white, 10%);
$box-shadow-color: $black;
$box-stripe-color: $fx-colour;

// Blockquote.
$blockquote-bg-color: $secondary-colour;
$blockquote-text-color: rgba($black, 0.7);